*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 40px 70px 1fr 52px 52px 52px 52px;
    
    align-items: center;
    padding: 10px 35px;
}


header span input{
    width: 950px;
    padding: 12px 0px;
    border-radius: 20px;
    border-color: rgba(231, 231, 231, 0.486) ;
    background-color: rgba(231, 231, 231, 0.486);
}
header span input:hover{
    background-color: rgba(199, 199, 199, 0.493) ;
}
::placeholder{
    padding-left: 10px;
}

header span a{
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}

header span i{
    font-size: 25px;
}

header span i:hover{
    border: 1px solid rgba(241, 241, 241, 0.616);
    border-radius: 50%;
    padding: 10px 12px;
    background-color: rgba(241, 241, 241, 0.616);
}

main{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: minmax(20px, auto);
    justify-content: center;	
    /* padding: 10px auto; */
}

main img{
    border-radius: 30px;
    width: min-content;
    /* padding: 10px auto; */
}
main img:hover{
    opacity: 0.6;
}
